body {
    width: 20rem;
  }
  
  ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
  }
  
  li {
    padding: 0.25rem;
  }

  li:nth-child(odd) {
    background: #80808030;
  }
  
  li:nth-child(even) {
    background: #ffffff;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
  }

  thead {
    background: #dbd80f;
    color: black;
  }

  tr:nth-child(odd) {
    background: #0c918630;
  }
  
  tr:nth-child(even) {
    background: #ffffff;
  }

  h3,
  p {
    margin: 0;
  }